/* Style the address bar to match the theme, remove the padding against the window edge */
.browser-toolbar:not(.titlebar-color) {
	background-color: transparent !important;
}

/* Hide the extensions and downloads buttons that appears next to the address bar */
#downloads-button { display: none; }

/* Align the address bar with the tabs, and its start at the far-left */
#nav-bar {
	/*margin-right: 40% !important;*/
	margin-right: calc(100vw - 543px) !important;
	margin-top: -43px !important;
}

/* Hide the thin line between the tabs and the main viewport. */
#navigator-toolbox {
	border-bottom: none !important;
}

/* Remove the inset dropdown from the address bar */
#page-action-buttons { display: none; }

/* Set the size of the address bar */
#urlbar-container {
	max-width: 460px !important;
	min-width: 460px !important;/
	width: 460px !important;
}

/* Font sizes for address and dropdown */
#urlbar { font-size: 12pt !important; }
#urlbar-results { font-size: 12pt !important; }

/* Hide both back and forward buttons */
#back-button { display: none;  }
#forward-button { display: none;  }

/* Ensure scroll buttons appear to indicate
 further tabs aligned with the end of the address bar */
#TabsToolbar { padding-left: 543px !important; }/

/* Hide the tab drop-down that appears */
#alltabs-button { display: none; }

/* Make the OS collapse/min/max/close buttons less intrusive */
.titlebar-spacer { width: 0px !important; }
.titlebar-button { padding: 0px !important; }

/* Hide the 'nav bar overflow button' which also exists now for some reason */
#nav-bar-overflow-button { display: none; }
